## Assignment_5.11442

### 1) How-to-count-distance-to-the-previous-zero

For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position

Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [3]:
df1 = df.assign(Y=df.loc[df.X == 0])
a = df1.Y.isnull()
df1.assign(Y=a.groupby(a.eq(0).cumsum()).cumsum())

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [4]:
df['Y'] =df.loc[df.X == 0]
a = df.Y.isnull()
df['Y'] = a.groupby(a.eq(0).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [5]:
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

### 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a                 Series of random numbers.

In [6]:
df = pd.date_range(start='01/01/2015', end='31/12/2015', freq='B')
df

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [7]:
s = pd.Series(np.random.rand(len(df)), index=df)
s

2015-01-01    0.799503
2015-01-02    0.618708
2015-01-05    0.871521
2015-01-06    0.609759
2015-01-07    0.781826
2015-01-08    0.699436
2015-01-09    0.434039
2015-01-12    0.929786
2015-01-13    0.347271
2015-01-14    0.149403
2015-01-15    0.476663
2015-01-16    0.393220
2015-01-19    0.810228
2015-01-20    0.715709
2015-01-21    0.473110
2015-01-22    0.958096
2015-01-23    0.216049
2015-01-26    0.066966
2015-01-27    0.100617
2015-01-28    0.190800
2015-01-29    0.929679
2015-01-30    0.030126
2015-02-02    0.689258
2015-02-03    0.197319
2015-02-04    0.280208
2015-02-05    0.129265
2015-02-06    0.290934
2015-02-09    0.212264
2015-02-10    0.044319
2015-02-11    0.062356
                ...
2015-11-20    0.497916
2015-11-23    0.468752
2015-11-24    0.239868
2015-11-25    0.232142
2015-11-26    0.484382
2015-11-27    0.642991
2015-11-30    0.426625
2015-12-01    0.091266
2015-12-02    0.108984
2015-12-03    0.558374
2015-12-04    0.714810
2015-12-07    0.641923
2015-12-08    0.514389
2015-12-09    0.836555
2015-12-10    0.965215
2015-12-11    0.176357
2015-12-14    0.402652
2015-12-15    0.829344
2015-12-16    0.559122
2015-12-17    0.126978
2015-12-18    0.964777
2015-12-21    0.453378
2015-12-22    0.782785
2015-12-23    0.628745
2015-12-24    0.402207
2015-12-25    0.741270
2015-12-28    0.912015
2015-12-29    0.150671
2015-12-30    0.747859
2015-12-31    0.601345
Freq: B, Length: 261, dtype: float64

### 3) Find the sum of the values in s for every Wednesday

In [8]:
s[df.weekday_name == 'Wednesday'].sum()

26.154194409045125

In [9]:
s[df.weekday == 2].sum()

26.154194409045125

### 4) Average For each calendar month

In [10]:
s.resample('M').mean()

2015-01-31    0.527387
2015-02-28    0.376408
2015-03-31    0.464682
2015-04-30    0.504180
2015-05-31    0.473003
2015-06-30    0.467683
2015-07-31    0.502528
2015-08-31    0.428379
2015-09-30    0.474145
2015-10-31    0.586700
2015-11-30    0.599790
2015-12-31    0.561349
Freq: M, dtype: float64

### 5) For each group of four consecutive calendar months in s, find the date on which the                 highest value occurred.

In [11]:
a = s.groupby(pd.Grouper(freq='4M'))
a.idxmax()

2015-01-31   2015-01-22
2015-05-31   2015-03-18
2015-09-30   2015-06-17
2016-01-31   2015-10-14
dtype: datetime64[ns]