## Assignment_5.11442

### 1) How-to-count-distance-to-the-previous-zero

For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position

Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [3]:
df1 = df.assign(Y=df.loc[df.X == 0])
a = df1.Y.isnull()
df1.assign(Y=a.groupby(a.eq(0).cumsum()).cumsum())

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [4]:
df['Y'] =df.loc[df.X == 0]
a = df.Y.isnull()
df['Y'] = a.groupby(a.eq(0).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [5]:
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

### 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a                 Series of random numbers.

In [6]:
df = pd.date_range(start='01/01/2015', end='31/12/2015', freq='B')
df

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [7]:
s = pd.Series(np.random.rand(len(df)), index=df)
s

2015-01-01    0.070621
2015-01-02    0.043791
2015-01-05    0.143435
2015-01-06    0.774219
2015-01-07    0.482634
2015-01-08    0.108906
2015-01-09    0.792778
2015-01-12    0.008186
2015-01-13    0.739057
2015-01-14    0.293814
2015-01-15    0.303475
2015-01-16    0.105151
2015-01-19    0.232086
2015-01-20    0.336954
2015-01-21    0.497032
2015-01-22    0.644852
2015-01-23    0.161949
2015-01-26    0.252287
2015-01-27    0.597958
2015-01-28    0.991456
2015-01-29    0.679853
2015-01-30    0.155817
2015-02-02    0.915846
2015-02-03    0.611897
2015-02-04    0.054405
2015-02-05    0.994383
2015-02-06    0.237284
2015-02-09    0.565242
2015-02-10    0.181110
2015-02-11    0.605614
                ...
2015-11-20    0.115857
2015-11-23    0.323777
2015-11-24    0.778509
2015-11-25    0.503328
2015-11-26    0.825389
2015-11-27    0.290120
2015-11-30    0.844713
2015-12-01    0.330870
2015-12-02    0.864164
2015-12-03    0.582501
2015-12-04    0.243651
2015-12-07    0.556336
2015-12-08    0.079380
2015-12-09    0.427643
2015-12-10    0.861288
2015-12-11    0.815393
2015-12-14    0.028993
2015-12-15    0.474067
2015-12-16    0.761182
2015-12-17    0.940927
2015-12-18    0.098581
2015-12-21    0.512255
2015-12-22    0.834291
2015-12-23    0.426183
2015-12-24    0.066714
2015-12-25    0.471193
2015-12-28    0.684794
2015-12-29    0.781912
2015-12-30    0.375865
2015-12-31    0.335842
Freq: B, Length: 261, dtype: float64

### 3) Find the sum of the values in s for every Wednesday

In [8]:
s[df.weekday_name == 'Wednesday'].sum()

27.086924550826524

### 4) Average For each calendar month

In [9]:
s.resample('M').mean()

2015-01-31    0.382560
2015-02-28    0.544112
2015-03-31    0.573435
2015-04-30    0.498909
2015-05-31    0.493480
2015-06-30    0.531093
2015-07-31    0.576283
2015-08-31    0.422028
2015-09-30    0.442079
2015-10-31    0.494123
2015-11-30    0.509875
2015-12-31    0.502349
Freq: M, dtype: float64

### 5) For each group of four consecutive calendar months in s, find the date on which the                 highest value occurred.

In [10]:
a = s.groupby(pd.Grouper(freq='4M'))
a.idxmax()

2015-01-31   2015-01-28
2015-05-31   2015-05-15
2015-09-30   2015-09-22
2016-01-31   2015-11-06
dtype: datetime64[ns]